  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
  }
  
  /* Style the header */
  .header {
    grid-area: header;
    background: url(neon.jpg) repeat;
    background-color: rgb(77, 76, 76);
    background-blend-mode: multiply;
    padding: 30px;
    margin: 0px;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    border-radius: 0px;
  }
  
  /* The grid container */
  .grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'left middle middle middle middle right' 
      'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
  } 
  
  .left,
  .middle,
  .right {
    background-color: #fdefef;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  /* Style the left column */
  .left {
    grid-area: left;
  }
  
  /* Style the middle column */
  .middle {
    grid-area: middle;
    display: grid;
    place-items: center;
  }
  
  /* Style the right column */
  .right {
    grid-area: right;
  }
  
  /* Style the footer */
  .footer {
    border-top: 2px solid black;
    grid-area: footer;
    background-color: #756e6e;
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'header header header header header header' 
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right' 
        'footer footer footer footer footer footer';
    }
  }

  form {
    background: linear-gradient(46deg, rgba(1, 0, 7, 0.747) 0%, rgba(164, 161, 168, 0.719) 35%, rgba(124, 124, 124, 0.493) 100%);
    border : 1px solid #000;
    box-shadow: 7px 7px 7px #000000;
    border-radius: 10px;
    padding : 50px;
    padding-left: 12%;
    padding-right: 12%;
    display: grid;
    place-items: center;
}


input[type="text"], textarea {
    background-color : #ff00000e;
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

input[id="salary"], textarea {
    background-color : #00ff550c;
}

input[id="button"], textarea {
    background-color : #000000;
    color: aliceblue;
    border-color: beige; 
}
input[id="sum"], textarea {
    text-align: center;
    background-color : rgba(255, 255, 255, 0.041);
    color: rgb(94, 255, 0);
    border-color: rgb(0, 0, 0); 
}

.button {
    border-radius: 7px;
    background: linear-gradient(46deg, rgba(0, 0, 0, 0.747) 0%, rgba(212, 202, 202, 0.719) 35%, rgba(0, 0, 0, 0.493) 100%);
    color: #000000;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }